.fontXLarge {
  font-size: 3.75rem; }

.fontXLargeAlternative {
  font-size: 4rem; }

.fontLarge {
  font-size: 2.25rem; }

.fontMedium {
  font-size: 1.875rem; }

.fontSamall {
  font-size: 1.625rem; }

.fontXsmall {
  font-size: 1.25rem; }

*,
*::after,
*::before {
  text-decoration: none;
  list-style: none;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  font-family: "Sofia Pro", sans-serif;
  background-color: #FFF7F8; }

p {
  font-size: 30; }

a {
  text-decoration: none;
  list-style: none;
  color: #000000; }

.gridCubos {
  display: grid;
  grid-template-columns: 345px 345px 345px;
  grid-template-rows: 345px 345px 345px;
  justify-content: center;
  align-content: center;
  padding: 38px;
  grid-gap: 38px; }

.container {
  width: 1152px;
  max-width: 90%;
  margin: 0 auto; }

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.logoNav {
  display: flex;
  align-items: center; }
  .logoNavsvg {
    height: 30px;
    margin-right: 10px; }
    .logoNavsvg path {
      fill: black; }

.nav-wrapper ul.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center; }
  .nav-wrapper ul.nav-list li {
    margin-left: 30px;
    padding: 20px 0;
    position: relative; }
    .nav-wrapper ul.nav-list li a {
      color: black;
      text-decoration: none;
      letter-spacing: 1px;
      transition: all .5s ease-in-out; }

.nav-wrapper ul.nav-list li a:hover {
  color: #999; }

.nav-wrapper ul.nav-list li.active a {
  color: black; }

.btn {
  background: #FFF7F8;
  color: black;
  outline: none;
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 1px;
  border: 1px solid transparent;
  transition: all .5s ease-in-out; }
  .btn :hover {
    background: transparent;
    border-color: black; }

main section.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 160px; }
  main section.header h1 {
    font-size: 36px;
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 20px; }
  main section.header h4 {
    font-size: 18px;
    font-weight: 400;
    color: #999;
    margin-bottom: 20px; }

nav ul.dropdown-list {
  list-style-type: none;
  display: block;
  background: whitesmoke;
  padding: 6px 16px;
  position: absolute;
  width: max-content;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none; }

.nav-wrapper ul.dropdown-list li {
  margin-left: 0;
  padding: 5px 0; }
  .nav-wrapper ul.dropdown-list li a {
    color: #232323; }

.nav-wrapper ul.nav-list li:hover .dropdown-list {
  opacity: 1;
  pointer-events: auto;
  animation: moveUp .5s ease-in-out forwards; }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(50px); }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(20px); } }

.paty {
  display: none; }

.mobile .paty {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  cursor: pointer; }
  .mobile .paty span {
    background: black;
    width: 28px;
    height: 2px;
    margin-bottom: 8px; }

.mobile ul.nav-list {
  background: -webkit-linear-gradient(45deg, #434343, #000000);
  background: linear-gradient(45deg, #434343, #000000);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease-in-out; }

.paty,
.logoNav {
  z-index: 9999; }

.mobile ul.nav-list.open {
  opacity: 1;
  pointer-events: auto; }

.mobile .paty span {
  transform-origin: left;
  transition: all .3s ease-in-out; }

.mobile ul.nav-list li a {
  font-size: 20px; }

.mobile ul.dropdown-list {
  position: relative;
  background: transparent;
  text-align: center;
  height: 0;
  overflow-y: hidden;
  transition: opacity 1s ease-in-out;
  padding-top: 0; }

.mobile .nav-wrapper ul li:hover .dropdown-list {
  height: max-content;
  padding-top: 6px; }

.mobile ul.nav-list li {
  margin-left: 0;
  text-align: center; }

.mobile .nav-wrapper ul.dropdown-list li a {
  color: #999; }

.footer {
  position: absolute;
  width: 1440px;
  height: 100px;
  left: 0px;
  top: 4467px;
  text-align: center; }

.footerPantallaProductos {
  position: absolute;
  width: 1440px;
  height: 40px;
  left: 0px;
  top: 1670px;
  text-align: center; }

.ventaInfo {
  position: absolute;
  width: 1440px;
  height: 65px;
  left: 0px;
  top: 2214px; }

.BackIndex {
  background-image: url("../../img/fondo.png");
  height: 750px;
  left: 0px;
  top: 80px; }

.Encabezado .Encabezado__TituloPrincipal {
  position: absolute;
  width: 522.7px;
  height: 139.99px;
  left: 46.36px;
  top: 383.9px; }

.Encabezado__BotonG {
  position: absolute;
  width: 156.05px;
  height: 28.71px;
  left: 136.87px;
  top: 590.1px; }

.fotoYBack {
  position: absolute;
  width: 886px;
  height: 543px;
  left: 482px;
  top: 203px;
  background: rgba(255, 247, 248, 0.6); }

.Encabezado__Foto {
  padding: 11px 175px 10px 175px; }

.PrimerProducto__Imagen {
  position: absolute;
  width: 413px;
  height: 411px;
  left: 107px;
  top: 938px; }
  .PrimerProducto__Imagen __back {
    position: absolute;
    width: 516px;
    height: 516px;
    left: 55px;
    top: 886px; }

.PrimerProducto__Imagen__back {
  position: absolute;
  width: 516px;
  height: 516px;
  left: 55px;
  top: 886px; }

.PrimerProducto__parrafo__back {
  position: absolute;
  width: 772px;
  height: 516px;
  left: 625px;
  top: 886px; }

.PrimerProducto__Parrafo {
  position: absolute;
  width: 578.9px;
  height: 142.45px;
  left: 713.76px;
  top: 1045.72px;
  text-align: left; }

.PrimerProducto__Boton {
  position: absolute;
  width: 227.55px;
  height: 34.45px;
  left: 1082.04px;
  top: 1286.72px;
  text-align: right; }

.PrimerParrafo__Imagen {
  position: absolute;
  width: 1407px;
  height: 306px;
  left: 17px;
  top: 1449px; }

.PrimerParrafo__Imagen__back {
  position: absolute;
  width: 1326px;
  height: 244px;
  left: 57px;
  top: 1480px; }

.PrimerParrafo__Parrafo {
  position: absolute;
  width: 723px;
  height: 45px;
  left: 365px;
  top: 1530px;
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  text-align: center; }

.PrimerParrafo__boton {
  position: absolute;
  width: 143px;
  height: 36px;
  left: 1149px;
  top: 1655px;
  font-weight: 300;
  line-height: 36px;
  text-align: right; }

.SegundoProducto__Imagen {
  position: absolute;
  width: 516px;
  height: 516px;
  left: 871px;
  top: 1792px; }

.SegundoProducto__Imagen__Back {
  position: absolute;
  width: 413px;
  height: 411px;
  left: 922px;
  top: 1841px; }

.SegundoProducto__parrafo__Back {
  position: absolute;
  width: 772px;
  height: 516px;
  left: 73px;
  top: 1792px; }

.SegundoProducto__Parrafo {
  position: absolute;
  width: 578.9px;
  height: 142.45px;
  left: 201px;
  top: 1950px;
  text-align: left; }

.SegundoParrafo__Boton {
  position: absolute;
  width: 188px;
  height: 36px;
  left: 547px;
  top: 2210px;
  font-weight: 300;
  line-height: 36px; }

.gridCubos {
  background-color: rgba(196, 196, 196, 0.3);
  position: absolute;
  width: 1324px;
  height: 1295px;
  left: 63px;
  top: 2383px; }

.gridCubos {
  display: grid;
  grid-template-columns: 345px 345px 345px;
  grid-template-rows: 345px 345px 345px;
  justify-content: center;
  align-content: center;
  padding: 38px;
  grid-gap: 38px; }

.gridCuadrados1 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background: #fff7f8;
  border: 3px solid #000000;
  box-sizing: border-box; }

.gridsCuadrados2 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background-image: url("../../img/gelLimpiezaFacialGrid.png"); }

.gridsCuadrados3 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  background-image: url("../../img/gelLimpiezaFacialGrid.png"); }

.gridsCuadrados4 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-image: url("../../img/gelLimpiezaFacialGrid.png"); }

.gridsCuadrados5 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-image: url("../../img/cremaGrid.png"); }

.gridsCuadrados6 {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  background-image: url("../../img/gridsIndexFondo.png"); }

.gridsCuadrados7 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  background-image: url("../../img/ss.png"); }

.gridsCuadrados8 {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  background-image: url("../../img/Desodorantecrema2Grid.png"); }

.gridsCuadrados9 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  background-image: url("../../img/gridsIndexFondo.png"); }

.Cuadrados1__Cubo1__Boton {
  font-weight: 300;
  line-height: 30px; }

.barrasGeneral {
  width: 856px;
  height: 418px;
  left: 497px;
  top: 3934px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute; }

.fotoLogo2 {
  position: absolute;
  width: 355px;
  height: 355px;
  left: 98px;
  top: 3970px; }

.gridProductos {
  display: grid;
  grid-template-columns: 785px 655px;
  grid-template-rows: 202px 543px 90px;
  padding: 30px;
  grid-gap: 10pxs; }

.titulo {
  grid-row: 1 / 2;
  grid-column: 1 / 2; }

.descripcionProducto {
  grid-row: 2 / 3;
  grid-column: 1 / 2; }

.precioYcarrito {
  grid-row: 3 / 4;
  grid-column: 1 / 2; }

.fotoProducto {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  justify-content: center;
  align-content: center; }

.BackgroundPantallaProductos {
  background-image: url("../../img/backPantallaProductos.jpg"); }

.barrasGeneralPantallaProductos {
  width: 856px;
  height: 418px;
  left: 497px;
  top: 1252px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute; }

.fotoLogo2PantallaProductos {
  position: absolute;
  width: 355px;
  height: 355px;
  left: 98px;
  top: 1252px; }

.cantidad {
  position: absolute;
  width: 111px;
  height: 74px;
  left: 91px;
  background-color: var(--primary); }

.agregarCarrito {
  position: absolute;
  width: 174px;
  height: 74px;
  left: 210px;
  background-color: var(--primary); }

.descripcionProducto {
  font-size: 30px;
  text-align: left; }

.titulo h1 {
  font-size: 60px; }
  .titulo h1h2 {
    font-size: 30px; }

.ventaInfoBack {
  background-image: url("../../img/fondocontacto.png");
  width: 1440px;
  height: 658px;
  left: 0px;
  top: 0px; }

.h1VentaInfo {
  position: absolute;
  width: 366px;
  height: 65px;
  left: 138px;
  top: 297px;
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 65px; }

.jojobasVentaInfo {
  position: absolute;
  width: 330px;
  height: 324px;
  left: 989px;
  top: 167px; }

.barrasGeneralVentaInfo {
  width: 856px;
  height: 418px;
  left: 479px;
  top: 1786px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute; }

.fotoLogo2VentaInfo {
  position: absolute;
  width: 355px;
  height: 355px;
  left: 58px;
  top: 1817px; }

.primeraFilaVentaInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around 20px;
  position: absolute; }

.contacto {
  background-image: url("../../img/BackVentaInfoComunicacion.jpg");
  position: absolute;
  width: 601px;
  height: 321px;
  left: 27px; }
  .contactoh2 {
    font-size: 36px; }
  .contactoPar {
    font-size: 30px;
    justify-content: center; }
