// index
.footer {
  position: absolute;
  width: 1440px;
  height: 100px;
  left: 0px;
  top: 4467px;
  text-align: center;
}

// pantallaProductos

.footerPantallaProductos {
  position: absolute;
  width: 1440px;
  height: 40px;
  left: 0px;
  top: 1670px;
  text-align: center;
}

// venta info

.ventaInfo {
  position: absolute;
  width: 1440px;
  height: 65px;
  left: 0px;
  top: 2214px;
}
